<div class="container" style="margin-top: 30px;">
  <mat-toolbar>
    <span>
      {{service.form.controls['_id'].value?"Modify Product":"New Product"}}
    </span>
    <span style="margin-right: 0; margin-left: auto;"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose('abort')" tabIndex="-1">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
  <form [formGroup]="service.form" class="normal-form">
    <mat-grid-list cols="2" rowHeight="500px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="_id">
          <input type="hidden" formControlName="__v">
          <mat-form-field>
            <input formControlName="sku" matInput placeholder="SKU*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Name*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" formControlName="price" matInput placeholder="Price*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" formControlName="cargo_price" matInput placeholder="Cargo Price*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" formControlName="tax_percent" matInput placeholder="Tax Per*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="cart_desc" matInput placeholder="Cart Desc*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>
            <mat-select formControlName="category" placeholder="Category">
              <ng-container *ngFor="let category of categories">
                <mat-option value="{{category._id}}">{{category.name}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="thumb" matInput placeholder="Thumb*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="image" matInput placeholder="Image*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" formControlName="stock" matInput placeholder="Stock*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="number" [readonly]="true" formControlName="sell_count" matInput placeholder="Sell Count">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <div class="add-bottom-padding">
            <mat-checkbox formControlName="live">Is Live</mat-checkbox>
            <mat-checkbox formControlName="unlimited">Is unlimited</mat-checkbox>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="container">
      <mat-form-field style="width: 100%; background-color: lightgray;">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="long_desc" placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="service.form.invalid">Submit</button>
        <button mat-raised-button color="warn" (click)= "onClear()">Clear</button>
      </div>
    </div>
  </form>
</div>