
.normal-form {
  margin: 10;
}

.controles-container {
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}


.add-bottom-padding{
  padding: 15px;
}

.add-bottom-padding mat-checkbox {
  margin-right: 30px;
}

mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.button-row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-row button {
  min-width: 120px;
}

.button-row > :nth-child(1) {
  margin-left: auto;
}
.button-row > :nth-child(2) {
  margin-left: 20px;
}

textarea {
  resize: none;
  height: 464px;
}
