a {
  color: #17a2b8;
  text-decoration: none;
}

p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 992px){
  .related .col-lg-3 {
    flex: 0 0 25%;
    max-width: inherit;
  }
}


